{% extends "layout/base.html" %}
{% block title %}
404 Not Found
{% endblock title %}

{% block content %}

<section class="error-section d-flex justify-content-center align-items-center" style="height: 75vh;">
    <div class="container">
        <div class="content text-center">
            <h1 class="text-danger heading"> Error!!! 404 not Found </h1>
            <p class="text-danger" >Page not found</p>
            <a href="{% url 'home' %}" class="btn btn-primary">home</a>
        </div>
    </div>
</section>

{% endblock content %}
